<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Readers's Hub</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/responsive-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
	<a class="navbar-brand" href="index.html">  <img src="img/img11.jpg" width="70" height="59" > </a>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="index.html"><h1><ins><b>Readers' Hub</h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="/index">Home</a></li>
								<li role="presentation"><a href="/feature">Manage</a></li>
								<li role="presentation"><a href="/blog">Blog</a></li>
								<li role="presentation"><a href="/portfolio">Authors</a></li>
								<li role="presentation"><a href="/contact">Contact</a></li>						
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="page-header">
					<div class="blog">
					<h3><ins><b>Blog Of The Day</b></ins></h3
						<h5>november 8,2017</h5>
						<img src="img/img10.jpg" class="img-responsive"alt="" />			
					
						
						
						<h3>How to Teach Boys about Consent: A Lesson for Handling Romantic Rejection</h3>

						<p>With all the talk about sexual harassment on the heels of Harvey Weinstein’s decades 
						long and seemingly systematic harassment and assault of women in Hollywood, survivors from all around the world are disclosing their
						own stories with #metoo.</p>

						<p>You may know from our community newsletter that I have mixed feelings about #metoo and #himthough, but this movement has undoubtedly
						spurred much-needed dialogue about misogyny that thrives today.

Instead of asking what was she* wearing? it feels like we are starting to ask more questions like why did he do it?</p>

						<p>It’s never too early to start teaching your child how to respect other people, their bodies, and their agency.

If you can believe it, 76% of teens and young adults said in a recent survey that their parents never talked to them about how to avoid sexually harassing 
others. And most of their parents didn’t talk with them about misogyny, either.

This is a problem. Especially when you consider that 87% 
of young women in this survey reported some kind of harassment or assault, whether being called a sexual insult by a stranger or being touched by a stranger.</p>
						<div class="ficon">
							<a href="http://www.thinkorblue.com/boysandconsent/" target=_blank alt="">read more</a> 
						</div>
					</div>
				</div>	
				<div class="container">
					<div class="row">
						<nav>
						  <ul class="pagination">
							<li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#"><span aria-hidden="true"></span><span class="sr-only">Next</span></a></li>
						  </ul>
						</nav>
					</div>
				</div>
			</div>
			
			
			
			
			<div class="col-md-4">
				<form class="form-search">
					<input class="form-control" type="text" placeholder="Search..">
				</form>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Trending Tweets</strong>
					</div>
					<div class="panel-body">
						<div class="media">
							<a class="media-left" href="#">
								<img src="img/portfolio/img9.jpg" height="50" width="50"alt="">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Shashi Tharoor</h4>
								<p>The Ganga is a life-support system, but the Govt has failed to revive it, says @vjmallet:
								</p>
								<div class="ficon">
									<a href="https://twitter.com/ShashiTharoor?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target=-blank alt="">Read more</a> 
									
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="media">
							<a class="media-left" href="#">
								<img src="img/portfolio/img7.jpg" height="50" width="50" alt="">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Paulo Coelho</h4>
								<p>When we least expect it, life tests our willingness to change; at such a moment, there is no point  in saying that we are not ready.
								</p>
								<div class="ficon">
									<a href="https://twitter.com/paulocoelho?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target=_blank>Read more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="media">
							<a class="media-left" href="#">
								<img src="img/portfolio/ravinder.jpg" height="50" width="50" alt="">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Ravinder Singh</h4>
								<p>Your favourite song is a click away on your phone, yet when the RJ plays it on the FM you are tuned to...is a special feeling.
								</p>
								<div class="ficon">
									<a href="https://twitter.com/_ravindersingh_?lang=en" target=_blank>Read more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="media">
							<a class="media-left" href="#">
								<img src="img/portfolio/img5.jpeg" height="50" width="50" alt="">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Stephen King</h4>
								<p>What makes CHANCE so cool is the unlikely bromance between the doctor (Hugh Laurie) and the hulking hitman (Ethan Suplee) who befriends him.
								</p>
								<div class="ficon">
									<a href="https://twitter.com/stephenking" target=_blank>Read more</a> 
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>				
		</div>
	</div>
	
		<div class="container">
			<div class="row">				
				<div class="col-md-8">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/HrdAkX0ue3k?list=PLB523918A978EF359" frameborder="1" allowfullscreen></iframe>
					</div>	
				</div>
				<div class="col-md-4">	
					<div class="popular-tags">
						<h5>Popular Blogging Websites</h5>
						<ul class="tags">
							<li><a href="#">Wordpress</a></li>
							<li><a href="#">Blogger</a></li>
							<li><a href="#">Tumblr</a></li>
							<li><a href="#">Medium</a></li>
							<li><a href="#">Ghost</a></li>
							<li><a href="#">Squarespace</a></li>
						</ul>
					</div>				
				</div>	
			</div>			
		</div>

	
	<hr>
	<!--start footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Thoughts</h5>						
						<p>a good book is what that make you look good if you die in the middle of it
						
						</p>						
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Pages</h5>
						<ul class="link-list">
							<li><a href="#">Press release</a></li>
							<li><a href="#">Terms and conditions</a></li>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Career center</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Know The Makers</h5>
						<ul class="link-list">
							<li><a href="#">Khushi Paul</a></li>
							<li><a href="#">Malkeet Kaur </a></li>
							<li><a href="#">Komal Mittal</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
				
		<div class="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="social-network">
							<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="copyright">
							<p>
								<span>&copy;Readers'Hub 2014 All right reserved. By </span><a href="http://bootstraptaste.com" target="_blank"></a>
							</p>
                            <!-- 
                                All links in the footer should remain intact. 
                                Licenseing information is available at: http://bootstraptaste.com/license/
                                You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Resi
                            -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
	<!--end footer-->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsive-slider.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
  </body>
</html>