<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Readers' Hub</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/responsive-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
	<a class="navbar-brand" href="index.php">  <img src="img/img11.jpg" width="70" height="59" > </a>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="index.html"><h1><ins><b>Readers' Hub</b></ins></h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="/index">Home</a></li>
								<li role="presentation"><a href="/feature">Manage</a></li>
								<li role="presentation"><a href="/blog">Blog</a></li>
								<li role="presentation"><a href="/portfolio">Authors</a></li>
								<li role="presentation"><a href="/contact">Contact</a></li>						
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	<div class="feature">
		<div class="breadcrumbs">
			<h4>manage ur free time with us....just follow some simple rules</h4>
		</div>
		
		<div class="container">
			<div class="row">		
				<div class="col-md-6">
					<img src="img/image7.jpg" height="400" width="450" class="img-responsive" alt="" />
					<p>When you get free time during your working hours,rather than going for any social networking sites,interact with your mates and go have a quick glance on news using any news app like TOI,The Guardian.
					</p>
				</div>
				<div class="col-md-6">
					<img src="img/image8.jpg"  height="450" width="450" class="img-responsive"alt="" />
					<p>Its also trick to properly utilise and have fun in your leisure time. 
					</p>
					
				</div>
			</div>
			
		</div>
		
		<div class="breadcrumbs">
			<h4>Divide Your Free Time In four categories as shown below: </h4>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img src="img/newspaper.jpg" class="img-responsive"alt="" />
					<p>Always take out time for newspaper and atleast have glance over all the headings.It helps to keep you updates as well as enhances your vocabulary.
					</p>
				</div>
				<div class="col-md-3">
					<img src="img/novel.jpg" class="img-responsive"alt="" />
					<p>It's good to read novels,short stories,poems etc in free time. It helps great to provide internal peace and satisfaction.
					</p>
				</div>
				<div class="col-md-3">
					<img src="img/social.jpg" class="img-responsive"alt="" />
					<p>Socialising is good and healthy for our personality if its not overrated and fake.It's good to chat and interact with friends and relatives far away.Try to Devote less time to it.
					</p>
				</div>
				<div class="col-md-3">
					<img src="img/mentalability.jpg" class="img-responsive"alt="" />
					<p>One should solve puzzlesand quizzes in their free time.It keeps your mind sharp,creative as well as enhances your personality.			
					</p>
				</div>
			</div>		
		</div>
		
		<div class="breadcrumbs">
			<h4>Utilize your weekends</h4>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="img/family.jpg" class="img-responsive"alt="" />
					<p>In our busy Weekdays ,it is difficult to take out time for family. So it is necessary to spend your weekends with family and loved ones.Share your land of experiences with them and listen theirs.Trust me,its very relieving.
					</p>
				</div>
				<div class="col-md-4">
					<img src="img/trip.jpg" class="img-responsive"alt="" />
					<p>Plan a small trip in the weekends.It should not be fancy,like breakfast at roadside dhaba,gurudwara visit etc. It's good if you have company ,if not then enjoy your own company.:-)
					</p>
				</div>
				<div class="col-md-4">
					<img src="img/2.jpg" class="img-responsive"alt="" />
					<p>What can be more relishing, sitting at your comfortable bed,reading your favourite book accompanied by hot cup of coffee.This perfect combination of these three helps you forget all your stress and take you to another world of peace and serenity.69
					</p>
				</div>
			</div>		
		</div>
	</div>

	<!--start footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Thoughts</h5>						
						<p>Any book that helps a child to form a habit of reading, to make reading one of his needs, is good for him.
						</p>						
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Pages</h5>
						<ul class="link-list">
							<li><a href="#">Press release</a></li>
							<li><a href="#">Terms and conditions</a></li>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Career center</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Know the makers</h5>
						<ul class="link-list">
							<li><a href="#">Khushi Paul</a></li>
							<li><a href="#">Komal Mittal </a></li>
							<li><a href="#">Kriti Garg </a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
				
		<div class="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="social-network">
							<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="copyright">
							<p>
								<span>&copy;Readers' Hub 2017 All right reserved. By </span><a href="http://bootstraptaste.com" target="_blank">readers' Hub</a>
							</p>
                            
						</div>
					</div>					
				</div>
			</div>
		</div>
	</footer>
	<!--end footer-->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsive-slider.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
  </body>
</html>