<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reader' Hub</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/responsive-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
	
          <a class="navbar-brand" href="index.php">  <img src="img/img11.jpg" width="70" height="59" > </a>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="index.html"><h1><ins><b>Readers' Hub</b></ins></h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="/index">Home</a></li>
								<li role="presentation"><a href="/feature">Manage</a></li>
								<li role="presentation"><a href="/blog">Blog</a></li>
								<li role="presentation"><a href="/portfolio">Authors</a></li>
								<li role="presentation"><a href="/contact">Contact</a></li>						
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	<!-- Responsive slider - START -->
	<div class="slider">
		<div class="">
			<div class="">
				<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
					<div class="slides" data-group="slides">						
						<ul>
							<li>
								<div class="slide-body" data-group="slide">
									<img src="img/img1.jpg" alt="" class="img-responsive" >
								</div>					
							</li>
							<li>
								<div class="slide-body" data-group="slide">
									<img src="img/img2.jpg" alt="" class="img-responsive" >
								</div>
							</li>
							<li>
								<div class="slide-body" data-group="slide">
									<img src="img/5.jpg" alt="" class="img-responsive" >									
								</div>
							</li>					
						</ul>
					</div>			   
					<a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
					<a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>		
				</div>
			</div>
		</div>
	</div>
    <!-- Responsive slider - END -->
 
	
		<div class="content">
			<h2><span><b>READ SOMETHING EXTRA,READ WITH A LEVEL UP</b></span></h2>
			<p>Welcome to Reader's Hub.the favourite spot for all kind of readers.Here you can update yourself with all of the latest news.Get
            to know about latest reading website.You can also read blogs and get to know about famous authors.</p>
            <p></p><center>ENJOY READING</center></p>
		</div>
	<div class="breadcrumb">
		<h4><em>Keep Yourself Updated </h4>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="boxs">				
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
						<div class="align-center">
							<h4><ins>Entertainment</ins></h4>					
							<img src="img/enertainment.jpg" height="85" width="100">
							<p>
							 Keep yourself updated with all celebrity gossips and other entertainment news.
							</p>
							<div class="ficon">
								<a href="http://www.eonline.com/" target=_blank alt=""><b>Read</b></a> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
						<div class="align-center">
							<h4><ins>Politics</ins></h4>	
							<img src="img/politics.png" height="100" width="100">
							
							<p>
							 Keep yourself updated with all all sort of political news.
							</p>
							<div class="ficon">
								<a href="http://www.thehindu.com/" alt=""><b>Read</b></a> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
						<div class="align-center">
							<h4><ins>Sports</ins></h4>					
							<img src="img/sports.jpg" height="100" width="100">
							<p>
							 All sports realted news just one click away.click on "read" below.
							</p>
							<div class="ficon">
								<a href="http://www.bbc.com/sport" target=_blank alt=""><b>Read</b></a> 
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="bg">				
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
						<div class="align-center">
							<h4>Business</h4>					
							<img src="img/business.jpg" height="90" width="100">
							<p>
							 Keep yourself updated with all all stock market variations and new business strategies.
							</p>
							<div class="ficon">
								<a href="https://economictimes.indiatimes.com/news" target=_blank alt=""><b>Read</b></a> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
						<div class="align-center">
							<h4>World</h4>					
							<img src="img/world.jpg" height="90" width="90">
							<p>
							 keep yourself updated with all latest happenings around the world with "The Guardian" news.
							</p>
							<div class="ficon">
								<a href="https://www.theguardian.com/world" target=_blank alt=""><b>Read</b></a> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
						<div class="align-center">
							<h4>Nation</h4>					
							<img src="img/india.jpg" height="90" width="100">
							<p>
							 keep yourself updated with all latest happenings around our nation with NDTV news.
							</p>
							<div class="ficon">
								<a href="https://www.ndtv.com/" target=_blank alt=""> <b>Read</b></a> 
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="breadcrumb">
		<h4><b><ins>Best Sorted Online Reading Websites</ins></b></h4>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="">				
				<div class="col-md-7">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">						
						<img src="img/image10.jpg" alt="" class="img-responsive">					
					</div>
				</div>
				<div class="col-md-5">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
						<div class="list-group">
							<a href="https://www.gutenberg.org/" class="list-group-item active">
								<h4 class="list-group-item-heading">Project gutenberg</h4>
								<p class="list-group-item-text">This is the world oldest ebook websitewithout almost 54,000 free ebooks. 
								</p>	
							</a>
							<div class="list-group-item">
							<a href="https://openlibrary.org/">
								<h4 class="list-group-item-heading">Open Library</h4>
								<p class="list-group-item-text">The site is actually Internet Archive’s separate project, more focused on collecting library records.

It’s goal is to create one web page for every book ever published. On a page of a single book you’ll find all its documented editions.
								</p>								
							</div>
							<div class="list-group-item">
							<a href="https://www.scribd.com/" >

								<h4 class="list-group-item-heading">Scribd </h4>
								<p class="list-group-item-text">The service is often described as YouTube for documents. There are millions of docs available here: comics, presentations, brochures – and obviously books.

 
								</p>								
							</div>
							<div class="list-group-item">
							<a href="https://www.wattpad.com/">
								<h4 class="list-group-item-heading">Wattpad</h4>
								<p class="list-group-item-text">Canada-based Wattpad is one of the most popular e-reading communities in the world.</p>						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="">							
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
						<div class="list-group">
							<a href="http://www.storylineonline.net/" target=_blank>
								<h4 class="list-group-item-heading">Storyline Online </h4>
								<p class="list-group-item-text">There’s nothing like a good audio story played back for your child before he or she drifts to sleep. Storynory could be your download source as it has a huge bank of free audio stories and poems for children. 
								</p>
							</a>
							<div class="list-group-item">
                                <a href="http://aesopfables.com/" target=_blank>
								<h4 class="list-group-item-heading">Aesop's Fables</h4>
								<p class="list-group-item-text">Aesop’s fables have been traditionally used to teach kids about morals. This site perhaps houses the largest online collection that you can read or listen to. There are 655+ fables, some with illustrations and audio. 
                            </p>
                                </a>
                        
                        </div>
							</div>
							<div class="list-group-item">
                                <a href="https://www.storycove.com/" target=_blank>
								<h4 class="list-group-item-heading">Story Cove</h4>
								<p class="list-group-item-text">Story Cove brings you stories from around the world arranged under the names of the continents. You can open up the “story book” in your browser and let it playback the story for you. You can even play an animated version of the story.
								</p>
                                    </a>
							</div>
							<div class="list-group-item">
                                <a href="http://www.magickeys.com/books/" target=_blank>
                                    <h4 class="list-group-item-heading">Magic Keys</h4>
								<p class="list-group-item-text">The site has books for young children, older children, and young adults. All books are illustrated and some have embedded audio. Check out The Farm Animals which is a “˜Click-a-Word Talking eBook’ of animal sounds. 
								</p>
                                    </a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="image">
						<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">						
							<img src="img/img3.jpg" height="700" width="500" alt="" class="img-responsive">					
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<hr>
	
	<!--start footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Thoughts</h5>						
						<p>Literacy is a bridge from misery to hope
						
						</p>						
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Pages</h5>
						<ul class="link-list">
							<li><a href="#">Press release</a></li>
							<li><a href="#">Terms and conditions</a></li>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Career center</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Know The Makers</h5>
						<ul class="link-list">
							<li><a href="#">Khushi Paul</a></li>
							<li><a href="#">Malkeet Kaur</a></li>
							<li><a href="#">Komal Mittal</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
				
		<div class="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="social-network">
							<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="copyright">
							<p>
								<span>&copy;Readers' Hub 2017 All right reserved. By </span>ReadersHub</a>
							</p>
                            <!-- 
                                All links in the footer should remain intact. 
                                Licenseing information is available at: http://bootstraptaste.com/license/
                                You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Resi
                            -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
	<!--end footer-->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsive-slider.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
  </body>
</html>