<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Readers" Hub</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/responsive-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
	<a class="navbar-brand" href="index.php">  <img src="img/img11.jpg" width="70" height="59" > </a>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="navbar-brand">
								<a href="index.html"><h1><b>Readers' Hub</b></h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="/index">Home</a></li>
								<li role="presentation"><a href="/feature">Manage</a></li>
								<li role="presentation"><a href="/blog">Blogs</a></li>
								<li role="presentation"><a href="/portfolio">Authors</a></li>
								<li role="presentation"><a href="/contact">Contact</a></li>						
							</ul>
						</div>
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="col-lg-12">
			<div class="portfolios">
				<h1>famous authors</h1>
					<a href="http://www.chetanbhagat.com/" target=_blank>
					<img src="img/portfolio/image9.jpg" width="225" height="225" alt="Image 1" />
					
					</a>
			
					<a href="http://dattadurjoy.com/" target=_blank>
					<img src="img/portfolio/durjoy3.jpg" width="225" height="225" alt="Image 2" />
					</a>

					<a href="https://www.goodreads.com/author/show/6134.Arundhati_Roy/blog" target=_blank>
					<img src="img/portfolio/arundati.jpg" width="225" height="225" alt="Image 3" />
					
					</a>

					<a href="https://www.stephenking.com/" target=_blank>
					<img src="img/portfolio/img5.jpeg" width="225" height="225" alt="Image 4" />
					
					</a>
					
					<div class="portfolio">
						<a href="https://www.jkrowling.com/" target=_blank>
						<img src="img/portfolio/img4.jpg" width="225" height="225" alt="Image 1" />
						
						</a>
						
						<a href="https://www.goodreads.com/author/show/566.Paulo_Coelho/" target=_blank>
						<img src="img/portfolio/img7.jpg" width="225" height="225" alt="Image 2" />
						</a>

						<a href="http://www.ravindersinghonline.com/" target=_blank>
						<img src="img/portfolio/ravinder.jpg" width="225" height="225" alt="Image 3" />
						</a>

						<a href="http://www.shashitharoor.in/" target=_blank>
						<img src="img/portfolio/img9.jpg" width="225" height="225" alt="Image 4" />
						</a>
					</div>	
				
			</div>
		</div>
	</div>

	<hr>
	<!--start footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Thought</h5>						
						<p>
						A book is a gift you can open again and again
						</p>						
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Pages</h5>
						<ul class="link-list">
							<li><a href="#">Press release</a></li>
							<li><a href="#">Terms and conditions</a></li>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Career center</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<h5 class="widgetheading">Know the makers</h5>
						<ul class="link-list">
							<li><a href="#">Khushi</a></li>
							<li><a href="#"> </a>Malkeet Kaur</li>
							<li><a href="#"> </a>Komal Mittal</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
				
		<div class="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="social-network">
							<li><a href="#" data-placement="bottom" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
							<li><a href="#" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
							<li><a href="#" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
							<li><a href="#" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
							<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="copyright">
							<p>
								<span>&copy;Readers' Hub 2017 All right reserved. By </span>Readers' Hub</a>
							</p>
                            
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
	<!--end footer-->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsive-slider.js"></script>
	<script src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/fliplightbox.min.js"></script>
	<script type="text/javascript">$('body').flipLightBox()</script>
	<script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
  </body>
</html>